@{
    ViewData["Title"] = "Home Page";
}
<div id="timeDisplay"></div>
<label for="region-input">Enter Region:</label>
<label id="region-current"></label>
<div class ="d-flex" id="input-group">
    <input type="text" id="region-input" class="form-control w-25" placeholder="Enter region name..." aria-label="Text input with segmented dropdown button" />
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split ms-1" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul id="region-dropdown" class="region-dropdown dropdown-menu dropdown-menu-end"></ul>
</div>
<button id="submit-btn" class="btn btn-primary mt-3">Submit Region</button>
<div id="response-message" class="mt-3"></div>
 
<label for="stop-input">Enter stops:</label>
<label id="stop-current"></label>
<div class="d-flex" id="input-group">
    <input type="text" id="stop-input" class="form-control w-25" placeholder="Enter stop name..." aria-label="Text input with segmented dropdown button" />
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split ms-1" data-bs-toggle="dropdown" aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul id="stop-dropdown" class="stop-dropdown dropdown-menu dropdown-menu-end"></ul>
</div>
<button id="submit-stop-btn" class="btn btn-primary mt-3">Submit StopStation</button>
<div id="response-stop-message" class="mt-3"></div>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div id="bus-group" class="btn-group me-2" role="group" aria-label="First group">
    </div>
</div>

<div id="bus-arrivals-container">
    <h2>Bus Arrivals</h2>
    <div id="bus-details">
        <table id="bus-schedule">
            <thead>
                <tr>
                    <th>Bus Number</th>
                    <th>Arrival Time</th>
                    <th>Trip Name</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <p id="error-message" style="color: red; display: none;"></p>
</div>

<button id="clear-button" type="button" class="btn btn-warning">Clear</button>
<script src="~/js/geo.js"></script>
<script src="~/js/site.js"></script>